@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono), monospace;
}

/* global.css hoặc trong module CSS */
.custom-scroll {
  overflow-y: auto;
  scrollbar-width: auto; /* Firefox */
  -ms-overflow-style: auto;  /* IE/Edge */
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #000000; /* Đen */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #86efac; /* Xanh lá cây nhạt */
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #4ade80; /* Xanh lá cây nhạt đậm hơn khi hover */
}

/* Scrollbar toàn màn hình */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Đen */
}

::-webkit-scrollbar-thumb {
  background: #86efac; /* Xanh lá cây nhạt */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4ade80; /* Xanh lá cây nhạt đậm hơn khi hover */
}